@font-face {
    font-family: 'Patchy Robots';
    src: url('../fonts/PatchyRobots.woff2') format('woff2'),
        url('../fonts/PatchyRobots.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
* {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}
*/

/* ------------------- GENERAL CSS -------------------------- */
#main-content {
    margin-top: 62px;
}
.rounded-circle {
    border-radius: 50%!important;
}
.pointilles {
    height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

/* ------------------- LOGO & NAVBAR -------------------------- */
.navbar {
    height: 62px;
}
.content-navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.btn.btn-link {
    color: #808080;
    font-family: "Lato";
    font-size: 17px;
    letter-spacing: .7px;
    text-decoration: none;
    padding-right: 13px;
}
.btn.btn-link.active{
    color: #000;
}
.logo-text a {
    font-family: 'Patchy Robots';
    font-size: 1.35rem;
    text-decoration: none;
    color: #263C53;
}


/* ------------------- HERO HOME -------------------------- */

.bg-particles {
    position: relative;
    background-color: #21364b !important;
    color: #fff;
}
#particles-js canvas{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
}
.hero-md {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}
.hero-body h2,
.hero-body h4 {
    font-family: "Nunito";
}
.face-home {
    width: 140px;
    margin-bottom: 25px;
}

/* ------------------- STYLES HOMEPAGE -------------------------- */

#bio {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
#bio h2 {
    color: #263C53;
    margin-bottom: 1.5rem;
}
#bio p {
    text-align: center;
    font-size: 0.88rem;
    font-family: "Open Sans";
    line-height: 1.7;
}

/* ------------------- FOOTER -------------------------- */


.section-footer {
    position: relative;
    background-color: #21364b !important;
    color: #fff;
    padding: 1rem .75rem;
}