    
    </div><!-- end #main-content -->

    <footer class="section section-footer bg-particles">

      <div class="container grid-lg" id="copyright">
        <p class="flex-centered">&copy; {{ now.Format "2006" }} {{ .Site.Params.author }}.</p>
      </div>

    </footer>

    <!-- Script JS -->

    <!-- Particles.js -->
    <script src="{{ .Site.BaseURL }}particules/lib/particles.min.js"></script>
    <script src="{{ .Site.BaseURL }}particules/app.js"></script>
    
    <!-- Jquery -->
    <script src="{{ .Site.BaseURL }}js/jquery-1.12.4.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/scripts.js"></script>
  </body>
</html>
