{{ partial "header.html" . }}

{{ partial "hero-home.html" . }}

<br>
<div class="container grid-lg">

    <div class="columns flex-centered">
        <div class="bio column col-8 col-lg-7 col-md-8 col-sm-9 col-xs-12">
            <h2 class="flex-centered">Salut.</h2>
            {{ .Content }}
        </div>
    </div>

    <hr class="pointilles">

    <div class="columns flex-centered">
        <div class="bio column col-8 col-lg-7 col-md-8 col-sm-9 col-xs-12">
            <h2 class="flex-centered">Ce que je peux faire.</h2>
            <p></p>
        </div>
    </div>

    <hr class="pointilles">

    <div class="columns flex-centered">
        <div class="bio column col-8 col-lg-7 col-md-8 col-sm-9 col-xs-12">
            <h2 class="flex-centered">Je peux aider.</h2>
            <h4 class="flex-centered">Je suis actuellement disponible pour un travail.</h4>
            <p>Vous allez commencer un projet ?<br> Ou bien vous êtes déjà en train de coder mais il manque une personne dans votre équipe ? Laissez-moi un message.</p>
            <p class="flex-centered">
                <a href="/contact/" class="btn btn-primary btn-lg" style="display:block;"><i class="far fa-envelope"></i>  Contactez-moi</a>
            </p>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}