<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700" rel="stylesheet">

    <!-- CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/spectre.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
</head>
<body class="bg-404 box">

    <div id="particles-js"></div>

    <div class="ct-404">
        <h1 class="flex-centered">Merci !</h1>
        <h2 class="flex-centered">Votre message a bien été envoyé. Vous obtiendrez une réponse dans les plus brefs délais.</h2>
        
        <a href="/" class="return-link flex-centered">Retour sur le site</a>
    </div>

    <!-- Particles.js -->
    <script src="{{ .Site.BaseURL }}particules/lib/particles.min.js"></script>
    <script src="{{ .Site.BaseURL }}particules/app.js"></script>
</body>
</html>