{{ define "content" }}

<div class="container grid-lg">
    <div class="columns content-projet">
        <div class="column col-6 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3 class="tl-ct">Détails</h3>
            <!-- <hr class="mi-hr"> -->
            <p class="line-detail"><i class="fas fa-user"></i> &nbsp Mickaël Sermont</p>
            <p class="line-detail"><a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x73;&#x65;&#x72;&#x6d;&#x6f;&#x6e;&#x74;&#x2e;&#x6d;&#x69;&#x63;&#x6b;&#x61;&#x65;&#x6c;&#x40;&#x68;&#x6f;&#x74;&#x6d;&#x61;&#x69;&#x6c;&#x2e;&#x66;&#x72;"><i class="fas fa-at"></i>&nbsp serm<!-- abc@def -->ont.micka<!-- azs@gbf -->el@hotm<!-- @abc.de -->ail.fr</a></p>
            <p class="line-detail"><a href="&#x74;&#x65;&#x6c;&#x3a;&#x2b;&#x33;&#x33;&#x36;&#x37;&#x34;&#x38;&#x39;&#x35;&#x34;&#x36;&#x36;"><i class="fas fa-phone"></i>&nbsp (+33) 06.74.89.54.66</a></p>
            <!-- <p class="line-detail"><i class="fas fa-link"></i>&nbsp www.mywebsite.com</p> -->
        </div>
        <div class="column col-6 col-xs-12 col-sm-12 col-md-6 col-lg-65">
            <h3 class="tl-ct">Écrivez-moi</h3>

            <form class="contact-form validate-form" method="POST" name="Contact" netlify-honeypot="bot-field" data-netlify="true">
                <input type="hidden" name="bot-field" />
                <div class="wrap-input validate-input" data-validate = "Un nom est requis">
                    <input class="input" type="text" name="name" placeholder="Nom">
                    <span class="shadow-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate = "Une adresse mail valide est requis">
                    <input class="input" type="text" name="email" placeholder="Email">
                    <span class="shadow-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate = "Un message est requis">
                    <textarea class="input" name="message" placeholder="Message"></textarea>
                    <span class="shadow-input"></span>
                </div>
                <div class="container-contact-form-btn">
                    <button class="contact-form-btn">
                        <span>
                            Envoyer
                            <i class="fas fa-paper-plane"></i>
                        </span>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
{{ end }}
