{{ define "content" }}

<div class="container grid-lg">
    <div class="columns margeTop margeBottom">
        <div class="column col-6 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3 class="tl-ct">Détails</h3>
            <!-- <hr class="mi-hr"> -->
            <p class="line-detail"><i class="fas fa-user"></i> &nbsp Mickaël Sermont</p>
            <p class="line-detail"><i class="fas fa-at"></i>&nbsp adresse.email@hotmail.fr</p>
            <p class="line-detail"><i class="fas fa-phone"></i>&nbsp 00.00.00.00.00</p>
            <!-- <p class="line-detail"><i class="fas fa-link"></i>&nbsp www.mywebsite.com</p> -->
        </div>
        <div class="column col-6 col-xs-12 col-sm-12 col-md-6 col-lg-65">
            <h3 class="tl-ct">Écrivez-moi</h3>
            <!-- <hr class="mi-hr"> -->
            <form class="contact-form validate-form" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                <input type="hidden" name="bot-field" />
                <div class="wrap-input validate-input" data-validate = "Nom est requis">
                    <input class="input" type="text" name="name" placeholder="Nom">
                    <span class="shadow-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate = "Une adresse mail valide est requis: ex@abc.xyz">
                    <input class="input" type="text" name="email" placeholder="Email">
                    <span class="shadow-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate = "Un message est requis">
                    <textarea class="input" name="message" placeholder="Message"></textarea>
                    <span class="shadow-input"></span>
                </div>
                <div class="container-contact-form-btn">
                    <button class="contact-form-btn">
                        <span>
                            Envoyer
                            <i class="fas fa-paper-plane"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{{ end }}
